<h1> About Us </h1>
<hr>
<div class="container">
  <div class="col-md-6">
    <div class="content" style="margin-left:10px;margin-right:10px;">
      <p style="text-align:justify; font-family: Times New Roman; ">
        <strong>Snipe IT Solutions </strong>established in 2009 is a pioneer in providing world Class Consulting Services in Enterprise
        Solutions for the Technology Solutions covering Embedded Systems and System Software to its Global Clientele.
        <br>
        <br> Snipe IT Solutions, is a professional, who provides expert advice in a particular domain or area of expertise such
        as IT.
        <br>
        <br> SNIPE IT Solutions is a Company known for various services such as Software Development, corporate training and
        for Hardware and Networking solutions. This is Indian based company stationed at Bangalore.
        <br>
        <br> It was established by Govindappa P.D, who is a proprietor and well known for various administrative services having
        experience of 25 years.
        <br>
        <br> We believe in customer delight and discipline. we assure you as this is the right company to choice for various
        services.</p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="map wow fadeInUp animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7775.70280011954!2d77.55344290000001!3d12.981354700000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1512466871885"
        width="300" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>

<br>
<!-- pop-up-box -->
<div id="small-dialog" class="mfp-hide w3ls_small_dialog wthree_pop">
  <h3 class="agileinfo_sign">Sign In</h3>
  <div class="agileits_signin_form">
    <form action="#" method="post">
      <input type="email" name="email" placeholder="Your Email" required="">
      <input type="password" name="password" placeholder="Password" required="">
      <div class="agile_remember">
        <div class="agile_remember_left">
          <div class="check">
            <label class="checkbox">
              <input type="checkbox" name="checkbox">
              <i> </i>remember me</label>
          </div>
        </div>
        <div class="agile_remember_right">
          <a href="#">Forgot Password?</a>
        </div>
        <div class="clearfix"> </div>
      </div>
      <input type="submit" value="SIGN IN">
      <p>Don't have an account
        <a href="#small-dialog1" class="play-icon popup-with-zoom-anim">Sign Up</a>
      </p>
      <div class="w3agile_social_icons">
        <ul>
          <li class="wthree_follow">Follow us on :</li>
          <li>
            <a href="#" class="w3_agile_facebook">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#" class="agile_twitter">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#" class="w3_agile_dribble">
              <i class="fa fa-dribbble" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </form>
  </div>
</div>
<div id="small-dialog1" class="mfp-hide w3ls_small_dialog wthree_pop">
  <h3 class="agileinfo_sign">Sign Up</h3>
  <div class="agileits_signin_form">
    <form action="#" method="post">
      <input type="text" name="name" placeholder="First Name" required="">
      <input type="text" name="name" placeholder="Last Name" required="">
      <input type="email" name="email" placeholder="Your Email" required="">
      <input type="password" name="password" placeholder="Password" required="">
      <input type="password" name="password" placeholder="Confirm Password" required="">
      <input type="text" id="name" name="phone" placeholder="Phone" title="Please enter your Phone No" required="">
      <label id="gender" style="align-items: left;"> Gender : </label>
      <input type="radio" name="gender" value="male" checked> Male
      <input type="radio" name="gender" value="female"> Female
      <br>
      <br>
      <input type="text" name="dob" id="dob" size="30" placeholder="dd/mm/yyyy">
      <input type="text" id="name" name="state" placeholder="state" size="14" required="">
      <input type="text" id="name" name="country" placeholder="country" required="">
      <input type="submit" value="SIGN UP">
      <p>Already a member
        <a href="#small-dialog" class="play-icon popup-with-zoom-anim">Sign In</a>
      </p>
      <div class="w3agile_social_icons">
        <ul>
          <li class="wthree_follow">Follow us on :</li>
          <li>
            <a href="#" class="w3_agile_facebook">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#" class="agile_twitter">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#" class="w3_agile_dribble">
              <i class="fa fa-dribbble" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </form>
  </div>
</div>
<!-- //pop-up-box -->
<br>

<div class="contact_w3agile" id="contact">
  <div class="container wow fadeInUp animated animated" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
    <h3 class="title-w3">Contact Us</h3>

    <form action="#" method="post">
      <input type="text" placeholder="Name" name="Name" required="">
      <input type="email" placeholder="Email" name="Email" required="">
      <textarea name="Message" placeholder="Message" required=""></textarea>
      <div class="con-form text-center">
        <input type="submit" value="Send">
      </div>
    </form>

  </div>
</div>
