<div style="margin-top: 50px;margin-bottom: 50px">
  <div class="col-md-offset-3">
    <h3 class="agileinfo_sign">Sign Up</h3>
    <div class="agileits_signin_form">
      <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
        <input type="text" name="fname" placeholder="First Name" required="" formControlName="fname">
        <input type="text" name="lname" placeholder="Last Name" required="" formControlName="lname">
        <input type="email" name="emailId" placeholder="Your Email" required="" formControlName="emailId">
        <input type="password" name="pwd" placeholder="Password" required="" formControlName="pwd">
        <!-- <input type="password" name="password" placeholder="Confirm Password" required="" formControlName="confirmpswd"> -->
        <input type="text" id="name" name="mobileNo" placeholder="Enter Phone number" title="Please enter your Phone No" required=""
          formControlName="mobileNo">
        <label id="gender" name="gender"  style="align-items: left;"> Gender :
          <input type="radio" name="gender" value="male" required="" formControlName="gender"  checked> Male
          <input type="radio" name="gender" value="female" formControlName="gender" > Female
          <br>
        </label>
		<input type="date" name="dob" id="dob" size="30" placeholder="Enter DOB" required="" formControlName="dob" ><br><br>
        <input type="text" id="name1" name="state" placeholder="state" size="14" required="" formControlName="state" >
        <input type="text" id="name2" name="country" placeholder="country" required="" formControlName="country">

        <!-- <p>Already a member
          <a href="#small-dialog" class="play-icon popup-with-zoom-anim">Sign In</a>
        </p>
        <div class="w3agile_social_icons">
          <ul>
            <li class="wthree_follow">Follow us on :</li>
            <li>
              <a href="#" class="w3_agile_facebook">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#" class="agile_twitter">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#" class="w3_agile_dribble">
                <i class="fa fa-dribbble" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div> -->
        <button type="submit">SIGN UP</button>
      </form>
    </div>
  </div>
</div>
